body{
	padding: 0;
	margin: 0;
	font-size: 14px;
	
}
.container {
	width: 1024px;
	height: 768px;
	background:url("../back.png");
	background-repeat: no-repeat;
	background-size:100% 100%; 
	min-width: 1024px;
	min-height: 768px;
	
}
.logo {
	position: absolute;
	display: block;
	left: 30px;
	color: #FFF;
	z-index: 5;
}
.logo h1 {
	font-family: Tahoma;
	font-size: 50px;
	font-weight: bold;
}
.logo p {
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	margin-top: -33px;
}
.logo sup {
	font-size: 30px;
}
#face{
	position: relative;
	top: 50px;
	left: 200px;
}
#pill{
	position: absolute;
	width: 100px;
	height: 40px;
	top: 200px;
	-webkit-transform: rotate(45deg);
	left: 150px;
	cursor: pointer;
	z-index: 5;
}
.buttons {
	position: absolute;
	display: block;
	top: 650px;
	width: 150px;
	cursor: pointer;
}
#day {
	left: 260px;
}
#week {
	left: 420px;
}
#mounth {
	left: 580px;
}
.arrow {
	position: relative;
	top: -140px;
	cursor: pointer;
}
#arrowL {
	left: 20px;
}
#arrowR {
	left: 930px;
	-webkit-transform:rotate(180deg);
}
#roller-white {
	position: absolute;
	margin-top: 514px;
	margin-left: 100px;
	//transition: margin-left .5s linear;
	cursor: pointer;
}
.numbers {
	position: absolute;
	top: 460px;
	left: 130px;
}
.numbers ul {
	position: relative;
	display: block;
	font-size: 0;
	left: -45px;
}
.numbers ul li {
	position: relative;
	display: inline-block;
	width: 44px;
	height: 46px;
	overflow: hidden;
	margin-right: -7px;
}
.numbers ul li img {
	position: relative;
	top: 10px;
	left: 10px;
}
.numbers ul li:nth-child(1) img {
	left: 15px;
}
.numbers ul li:nth-child(2) img {
	margin-left:-44px; 
	left: 12px;
}
.numbers ul li:nth-child(3) img {
	margin-left:-88px; 
	left: 10px;
}
.numbers ul li:nth-child(4) img {
	margin-left:-132px;
	left: 9px; 
}
.numbers ul li:nth-child(5) img {
	margin-left:-176px;
	left: 7px; 
}
.numbers ul li:nth-child(6) img {
	margin-left:-220px;
	left: 5px; 
}
.numbers ul li:nth-child(7) img {
	margin-left:-264px; 
	left: 4px;
}
.numbers ul li:nth-child(8) img {
	margin-left:-308px;
	left: 2px; 
}
.numbers ul li:nth-child(9) img {
	margin-left:-352px;
	left: 0px; 
}
.numbers ul li:nth-child(10) img {
	margin-left:-396px;
	left:-3px; 
}
.numbers ul li:nth-child(11) img {
	margin-left:-440px;
	left: -6px; 
}
.numbers ul li:nth-child(12) img {
	margin-left:-484px;
	left: -7px; 
}
.numbers ul li:nth-child(13) img {
	margin-left:-528px;
	left: -9px; 
}
.numbers ul li:nth-child(14) img {
	margin-left:-572px;
	left: -10px; 
}
.numbers ul li:nth-child(15) img {
	margin-left:-616px; 
	left: -13px;
}
.numbers ul li:nth-child(16) img {
	margin-left:-660px;
	left: -15px; 
}
.numbers ul li:nth-child(17) img {
	margin-left:-704px;
	left: -17px; 
}
.numbers ul li:nth-child(18) img {
	margin-left:-748px;
	left: -19px; 
}
.numbers ul li:nth-child(19) img {
	margin-left:-792px;
	left: -22px; 
}
.numbers ul li:nth-child(20) img {
	margin-left:-836px;
	left: -23px; 
}
.numbers ul li:nth-child(21) img {
	margin-left:-880px; 
	left: -26px;
}


