
body {
	font-family: 'Open Sans', sans-serif;
	min-width: 960px;
	font-size: 14px;
	color: #484848;
}
a {
	color: #484848;
	text-decoration: none;	
}
a:hover {
	text-decoration: underline;	
}
.container {
	margin-left: auto;
	margin-right: auto;
	width: 940px;
	position: relative;
}
.wrp-top {
	background: #f2f2f2;
	border-bottom: 1px solid #e7e7e7;
	height: 50px;	
}
.login {
	background: url(../img/login.png) left center no-repeat;
	padding-left: 30px;
	line-height: 20px;
	position: absolute;
	right: 0;
	top: 15px;
}
.wrp-menu {
	background: #f7f7f7;
	border-top: 1px solid #fff;
	height: 75px;	
}
.logo {
	position: absolute;
	top: 10px;
}	
.top-menu {
	float: right;
	margin: 0;
	padding: 0;
}
.top-menu ul {
	float:left;
	width:100%;
	margin: 0;
	padding: 0;
	list-style:none;
}
.top-menu ul li {
	float:left;
	position:relative;
	display:block;
}
.top-menu ul li a {
	display:block;
	height: 75px;
	color: #484848;
	line-height: 75px;
	text-decoration:none;
	padding: 0 25px;
}
.top-menu ul > li:hover > a {
	color: #fff;
	background: #31468b;
}
.top-menu ul li ul {
	list-style: none;
	position: absolute;
	left: -9999px;
	opacity: 0; 
	background: #e8e8e8;
}
.top-menu ul li ul li {
	float: none;
}
.top-menu ul li ul li a {
    white-space: nowrap;
    display: block;
	background: #e8e8e8;
	height: 40px;
	line-height: 40px;
}
.top-menu ul li:hover ul {
	padding-left: 0;
    left: 0;
    opacity: 1;
    z-index: 999;
}
.map {
	height: 378px;
	background: url(../img/map.jpg) center center no-repeat;
	background-size: cover;
	background-size: cover;
	background-size: cover;
	background-size: cover;
}
.msg {
	position: absolute;
	text-align: right;
	top: 338px;
	right: -25px;
}
.msg span {
    display: inline-block;
	font-size: 13px;
	line-height: 20px;
	padding: 0 10px;
	color: #fff;	
	background: #ec9e00;
}
.main-section {
	margin: 80px 0 80px 0;
}
.main-section header {
	text-align: center;
}
.main-section header h3 {
	font-size: 20px;
	color: #ec9e00;		
	margin: 0 0 50px 0;
}
.main-button {
	display: block;
	margin: 60px auto;
	font-size: 14px;
	text-align: center;
	width: 170px;
	background: #f1f1f1;
	background: linear-gradient(to top, #ebebeb, #f7f7f7);
	border: 2px solid #ec9e00;
	border-radius: 17px;
	box-shadow: 0 2px 0 0 #b27700;
	padding: 10px 0;
}
.main-button:hover {
	text-decoration: none;
	border: 2px solid #33478e;
	box-shadow: 0 2px 0 0 #192345;	
}
.main-news ul {
	margin: 0;
	padding: 0;
}
.main-news ul li {
	display: block;
	width: 220px;
	float: left;
	margin-right: 20px;
}
.main-news ul li:last-child {
	margin-right: 0;
}
.dateA {
	text-align: center;
	font-size: 10px;
	margin: 10px 0;
}
.notice {
	text-align: center;	
}
.notice a {
	font-size: 13px;
	font-weight: bold;
}
.notice a:hover {
	color: #33478e;
	text-decoration: none;
}
.news-item {

}
.news-item h1 {
    text-align: left;
    font-size: 18px;
    margin-bottom: 30px;
}
.main-comit ul {
	margin: 0;
	padding: 0;
}
.main-comit ul li {
	display: block;
	width: 140px;
	float: left;
	margin-right: 60px;
	text-align: center;	
}
.main-comit ul li:last-child {
	margin-right: 0;
}
.main-comit .notice {
	margin-top: 30px;
}
.main-comit .notice a {
	margin-top: 30px;
	font-weight: normal;
}
.main-event ul {
	margin: 0;
	padding: 0;
}
.main-event ul li {
	display: block;
	width: 190px;
	float: left;
	margin-right: 60px;
}
.main-event ul li:last-child {
	margin-right: 0;
}
.dateB {
	text-align: center;
	font-size: 60px;
	margin-bottom: -15px;
}
.month {
	text-align: center;
	font-size: 24px;
}
.year {
	text-align: center;
	font-size: 14px;
}
.main-event .notice {
	margin-top: 10px;
}
.main-event .notice a {
	font-size: 14px;
	font-weight: bold;
}
/*+++++++++++++++++++++++++++++++++++++++++++++*/
.more {
	border-bottom: 1px dashed #484848;

}
.more:hover {
	text-decoration: none;
	border-bottom: none;
}
.main-partners-block {
	
}
.main-partners .item {
	position: relative;
	float: left;
	width: 234px;
	height: 160px;
	border: 1px solid #e8e8e8;
	margin: -1px -1px 0 0;
	overflow: hidden;
	font-size: 13px;
	text-align: center;
}

.item-hover {
	position: absolute;
	background-image: url("../img/loopa.png");
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center center;
	width: 228px;
	height: 154px;
	top: 3px;
	left: 3px;
	opacity: 0;
}
.item-hover:hover {
	cursor: pointer;
	opacity: 1;
	background-color: rgba(49, 69, 138, 0.7);	
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.item-p {
	position: relative;
	float: left;
	width: 234px;
	height: 160px;
	border: 1px solid #e8e8e8;
	margin: -1px -1px 0 0;
	overflow: hidden;
	font-size: 13px;
	text-align: center;
}
.item-p .logo-p {
	box-sizing: border-box;
	padding: 5px;
	width: 100%;
	height: 70px;
}
.item-p .logo-p img {
	max-height: 100%;
	max-width: 100%;
}
.item-p .name-p {
	box-sizing: border-box;
	display: table;
	padding: 5px;	
	width: 100%;
	height: 70px;
}
.item-p .name-p span {
	display: table-cell;
	vertical-align: middle;
}
.item-p .status-p {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 20px;
	line-height: 20px;
    color: #b7b7b7;	
}

.content {
	margin: 100px 0;
}
.content a {
	color: #484848;
	text-decoration: underline;	
}
.content a:hover {
	text-decoration: none;	
}
.representation {
	margin: 100px 0;
}
.representation header {
	font-size: 20px;
	text-align: center;
	margin-bottom: 50px;
}
.representation ul {
	margin: 0;
	padding: 0;
}
.representation ul li {
	display: block;
	width: 100px;
	float: left;
	margin-right: 40px;
	text-align: center;	
}
.representation ul li:last-child {
	margin-right: 0;
}
.representation .notice {
	margin-top: 20px;
}
.representation .notice a {
	margin-top: 30px;
	font-weight: normal;
}
.local-menu {
	margin: 30px 0;
	width: 100%;
	text-align: center;
}
.local-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.local-menu ul li {
	display: inline-block;
}
.local-menu ul li a {
	display:block;
	color: #484848;
	text-decoration:none;
	padding: 0 15px;
}
.local-menu ul > li:hover > a {
	color: #ec9e00;
}
img.hdr-img-comit {
	display: block;
	margin: 100px auto;
}
.comit {
	width: 700px;
	float: left;
	font-size: 13px;
}
.files {
	width: 220px;
	float: right;
	margin-top: 100px;
}
.files ul {
	margin: 0;
	padding: 0;
	text-align: center;
	list-style: none;
}
.files ul li {
	margin-bottom: 60px;
}
.files ul li a {
	font-size: 13px;
}
.files ul li a:hover {
	color: #33478e;
	text-decoration: none;
}
.footer {
	font-size: 11px;
	line-height: 17px;
	height: 270px;
}
.footer ul {
	margin: 0;
}
.footer ul li {
	list-style: none;
	padding: 10px 0;
}
.footer .footer1 {
	float: left;
	width: 220px;
	margin-right: 20px;
}
.footer .footer2 {
	float: left;
	width: 220px;
	margin-right: 20px;
}
.footer .footer3 {
	float: left;
	width: 220px;
	margin-right: 140px;
	line-height: 23px;	
}
.footer .footer4 {
	float: left;
	width: 100px;
}
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}
.clear {
	clear:both;
}